@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Dosis:wght@700&family=Teko:wght@500&display=swap');

html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 20% 0 0 0;
    display: grid;
    align-items: center;
    justify-content: center;
    overflow: scroll;
    /* width: 200px; */
    /* background-color: red; */
}

* {
    box-sizing: border-box;
}

.name-tag {
    width: 400px;
    margin: 0;
    text-align: center;
    background-color: gold;
    border-radius: 10px;
    /* height: 400px; */
    /* display: grid;
    align-items: center; */
    /* justify-content: center; */
    /* flex-direction: column; */
}


.top {
    font-family: sans-serif;
    min-height: 140px;
}

.middle {
    background-color: white;
    min-height: 50px;
}

.bottom {
    padding: 20px;
    min-height: 50px;
    /* background-color: gold; */
}

h1 {
    font-size: 70px;
    font-weight: bolder;
    padding: 25px 0 0 0;
    margin: 0;
    font-family: 'Chewy', 'Dosis', 'Teko', sans-serif;
}

h2 {
    font-size: 20px;
    font-family: 'Chewy', 'Dosis', 'Teko', sans-serif;
    margin: 5px 0 2px 0;
    padding-bottom: 15px;
}

h3 {
    padding: 20px;
    margin: 0;
    font-family: 'Chewy', 'Dosis', 'Teko', sans-serif;
    font-style: italic;
    font-size: 35px;
}

#name-place {
    padding: 5px;
}

#name-placeholder {
    text-align: center;
    font-family: 'Chewy', 'Dosis', 'Teko', sans-serif;
    margin: 30px 0 10px 0;
    width: 200px;
    height: 35px;
    border-radius: 5px;
}

#button-name {
    margin: 5px 0 0 0;
    text-align: center;
    /* padding-top: 10px; */
}

#button {
    width: 120px;
    font-family: 'Chewy', 'Dosis', 'Teko', sans-serif;
    border-radius: 5px;
}

.change-name, .color-change {
    text-align: center;
    padding-top: 10px;
}

#yellow, #red, #green, #blue {
    padding: 3px 0 5px 0;
    margin: 10px 5px 0 5px;
    border-radius: 5px;
    border: 3px solid;
    width: 70px;
    height: 30px;
    font-size: 15px;
    font-family: 'Chewy', 'Dosis', 'Teko', sans-serif;
}

#yellow {
    border-color: gold;
}

#red {
    border-color: red;
}

#green {
    border-color: #6b8e23;
}

#blue {
    border-color: #1e90ff;
}